body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*css header*/

header {
    background: linear-gradient(to right, #ace9ff, #D7D7ED);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputNombreDocente{
    border-radius: 10px;
    border-color: #D7D7ED;
    width: 120px;
}

#escuelaHomeImg {
    margin-right: 20px;
}

.banner h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 100;
}

.buttons button {
    margin: 3px 0 3px 10px;
    padding: 3px 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #aaf0d1;
    border-radius: 20px;
}

/*css main y aside*/

section{
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

main {
    background-color: #aaf0d1;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 0px #41b480d9;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.tituloMes {
    background-color: white;
    font-size: 20px;
}

.informeFinal {
    background-color: white;
    font-size: 14px;
    text-align: left;
}

.informeMes {
    text-align: left;
    font-size: 14px;
}

th, td {
    border: 3px solid white;
    padding: 5px;
    text-align: center;
}

.notas, .notas1, .notas2, .notas3,
.notas4, .notas5, .notas6, .notas7, .notas8, .notas9 {
    width: 32px;
}

aside {
    background-color: #D7D7ED;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 0 0 0 20px;
    font-size: 14px;
    box-shadow: 3px 3px 0px #8989bfc7;
}

#avisoTareaVacia{
    font-size: 12px;
    color: red;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
    margin: 15px 30px 0 0;
}

button {
    border-radius: 20px;
    padding: 3px 10px;
    margin: 3px 0 0 0;
    border-color: white;
    background-color: #a9a9d6;
    box-shadow: 3px 3px 0px #8989bfc7;
    cursor: pointer;
}

button:hover {
    background-color: #aaf0d1;
    border-radius: 20px;
    transition: 0.5s;
}

/*css contacto*/

#contacto {
    text-align: center;
    width: 94%;
    margin: 20px auto;
    background-color: #ace9ff;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    box-shadow: 3px 3px 0px #70b2c9;
}

#borde-fieldset {
    border: none;
}

.botonContacto {
    padding: 5px;
    border-radius: 15px;
    margin: 0px 10px 0px 0px;
    box-shadow: 3px 3px 0px #8989bfc7;
    cursor: pointer;
}

#nombreContacto, #apellido {
    border-radius: 10px;
    border-color: #D7D7ED;
    width: 230px;
}

#email {
    border-radius: 10px;
    border-color: #D7D7ED;
    width: 246px;
}

#comentario {
    border-radius: 10px;
    border-color: #D7D7ED;
    width: 300px;
}

.botonContacto:hover{
    background: #aaf0d1;
    font-weight: 500;
    transition: 0.5s;
}

#comentario {
    resize: vertical;
    min-height: 30px
}

/*css footer*/

footer {
    background: linear-gradient(to right, #ace9ff, #D7D7ED);
    font-size: 14px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}

footer p {
    margin: 0;
}

#certificadoIMG{
    width: 300px;
}

#certificadoIMG:hover {
    width: 600px;
    transition: 0.5s;
}

/* RESPONSIVE tablets*/

@media (max-width: 900px) {

    .banner h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    #inputNombreDocente{
        border-radius: 10px;
        border-color: #D7D7ED;
        width: 104px;
        margin: 2px 0 0 10px;
    }
    

    section{
        width: 92%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
    }

    #contacto {
        width: 90%;
        margin: auto;
    }

    aside{
        margin: 15px 0px 0px 0px;
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }

    #certificadoIMG:hover {
        width: 450px;
        transition: 0.5s;
    }
}